node-red/.flows.json.backup
[{"id":"f13bb374.7e7cc","type":"tab","label":"Thermostat Switches","disabled":false,"info":""},{"id":"7675e549.ad700c","type":"tab","label":"Outside / Christmas Lights","disabled":false,"info":""},{"id":"5248ba9a.3658d4","type":"tab","label":"Big Red Button","disabled":false,"info":""},{"id":"5e5380a1.bfacc","type":"server","z":"","name":"Home Assistant"},{"id":"6c977fc6.7e008","type":"server","z":"","name":"Hassio","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"79106561.83a3b4","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"192.168.3.125","port":"1883","clientid":"NOdeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a07dcbb3.e17048","type":"trigger-state","z":"f13bb374.7e7cc","name":"Thermostat Cool Switched Off","server":"6c977fc6.7e008","entityid":"switch.thermostat_cool","debugenabled":false,"constraints":[{"id":"eb0mwvneumb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":387,"y":169,"wires":[["fe2845a3.494068"],[]]},{"id":"9095bcbc.ded03","type":"trigger-state","z":"f13bb374.7e7cc","name":"Thermostat Heat Switched Off","server":"6c977fc6.7e008","entityid":"switch.thermostat_heat","debugenabled":false,"constraints":[{"id":"bw22t4gjftj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":385,"y":228,"wires":[["4ca86e40.0191e"],[]]},{"id":"fe2845a3.494068","type":"api-current-state","z":"f13bb374.7e7cc","name":"Thermostat Heat is Off","server":"6c977fc6.7e008","halt_if":"on","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.thermostat_heat","x":681,"y":162,"wires":[["6d2a063f.c7f1f8"]]},{"id":"4ca86e40.0191e","type":"api-current-state","z":"f13bb374.7e7cc","name":"Thermostat Cool is Off","server":"6c977fc6.7e008","halt_if":"on","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.thermostat_cool","x":683,"y":221,"wires":[["6d2a063f.c7f1f8"]]},{"id":"6d2a063f.c7f1f8","type":"api-call-service","z":"f13bb374.7e7cc","name":"Turn off Thermostat Fan","server":"6c977fc6.7e008","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.thermostat_fan\" }","mergecontext":"","x":1014,"y":200,"wires":[["5a97ef18.387c4"]]},{"id":"197acbd8.c956c4","type":"trigger-state","z":"f13bb374.7e7cc","name":"Thermostat Cool Switched On","server":"6c977fc6.7e008","entityid":"switch.thermostat_cool","debugenabled":false,"constraints":[{"id":"xa1xu4o23rc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":382,"y":313,"wires":[["40149547.24fc9c","4faa7a40.b8f0e4"],[]]},{"id":"bf5b092e.c67468","type":"trigger-state","z":"f13bb374.7e7cc","name":"Thermostat Heat Switched On","server":"6c977fc6.7e008","entityid":"switch.thermostat_heat","debugenabled":false,"constraints":[{"id":"eeiv30y0a07","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":385,"y":373,"wires":[["2f0fa9da.a68a56","4faa7a40.b8f0e4"],[]]},{"id":"59aea36.524605c","type":"api-call-service","z":"f13bb374.7e7cc","name":"Turn Heat Off","server":"6c977fc6.7e008","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.thermostat_heat\" }","mergecontext":"","x":981,"y":307,"wires":[["5a97ef18.387c4"]]},{"id":"293d503b.d4f72","type":"api-call-service","z":"f13bb374.7e7cc","name":"Turn Cool Off","server":"6c977fc6.7e008","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.thermostat_cool\" }","mergecontext":"","x":970,"y":366,"wires":[["5a97ef18.387c4"]]},{"id":"40149547.24fc9c","type":"api-current-state","z":"f13bb374.7e7cc","name":"Thermostat Heat is On","server":"6c977fc6.7e008","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.thermostat_heat","x":680,"y":306,"wires":[["59aea36.524605c"]]},{"id":"2f0fa9da.a68a56","type":"api-current-state","z":"f13bb374.7e7cc","name":"Thermostat Cool is On","server":"6c977fc6.7e008","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.thermostat_cool","x":678,"y":367,"wires":[["293d503b.d4f72"]]},{"id":"4faa7a40.b8f0e4","type":"api-current-state","z":"f13bb374.7e7cc","name":"Thermostat Fan is On","server":"6c977fc6.7e008","halt_if":"on","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.thermostat_fan","x":676,"y":436,"wires":[["f521258a.4f7808"]]},{"id":"f521258a.4f7808","type":"api-call-service","z":"f13bb374.7e7cc","name":"Turn on Thermostat Fan","server":"6c977fc6.7e008","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.thermostat_fan\" }","mergecontext":"","x":1007,"y":435,"wires":[["5a97ef18.387c4"]]},{"id":"ac310194.9ac9","type":"bigtimer","z":"7675e549.ad700c","outtopic":"","outpayload1":"","outpayload2":"","name":"Turn on at Sunset, Off at Sunrise","comment":"","lat":"30.527930","lon":"-81.642770","starttime":"5004","endtime":"5003","startoff":"-20","endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":167,"y":147,"wires":[[],[],["4b784e93.5ba06"]]},{"id":"4b784e93.5ba06","type":"switch","z":"7675e549.ad700c","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":160,"wires":[["320f8647.c9c21a"],["3e90e298.1854be"]]},{"id":"6bd3b1a3.8efb9","type":"bigtimer","z":"7675e549.ad700c","outtopic":"","outpayload1":"","outpayload2":"","name":"Turn on at Sunset, Off at Midnight","comment":"","lat":"30.527930","lon":"-81.642770","starttime":"5004","endtime":"1380","startoff":"-20","endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":162,"y":393,"wires":[[],[],["7ae6a53e.96184c"]]},{"id":"46db1b6e.a64584","type":"bigtimer","z":"7675e549.ad700c","outtopic":"","outpayload1":"","outpayload2":"","name":"Turn on at Sunset, Off at 11","comment":"","lat":"30.527930","lon":"-81.642770","starttime":"5004","endtime":"1380","startoff":"-20","endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":138,"y":647,"wires":[[],[],["333546b.d6347ba"]]},{"id":"7ae6a53e.96184c","type":"switch","z":"7675e549.ad700c","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":442,"y":406,"wires":[["1f2116be.d922c9"],["15a6694e.f2d127"]]},{"id":"333546b.d6347ba","type":"switch","z":"7675e549.ad700c","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":443,"y":659,"wires":[["88e5f6d8.ec2518"],["cc246c2a.dd69a"]]},{"id":"3e90e298.1854be","type":"api-current-state","z":"7675e549.ad700c","name":"Front Porch Lights Off?","server":"5e5380a1.bfacc","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.front_porch_lights_switch","x":780,"y":167,"wires":[["a9f55813.7eb4b8"]]},{"id":"15a6694e.f2d127","type":"api-current-state","z":"7675e549.ad700c","name":"Christmas Lights Off?","server":"5e5380a1.bfacc","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.christmas_lights","x":773,"y":413,"wires":[["d6f8e21b.da0bf"]]},{"id":"cc246c2a.dd69a","type":"api-current-state","z":"7675e549.ad700c","name":"Christmas Tree Off?","server":"5e5380a1.bfacc","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.centralite_4257050rzhac_03bf4e3d_1","x":775,"y":666,"wires":[["735a7196.6e9fc"]]},{"id":"a9f55813.7eb4b8","type":"api-call-service","z":"7675e549.ad700c","name":"Turn Off Front Porch Lights","server":"5e5380a1.bfacc","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.front_porch_lights_switch\"}","mergecontext":"","x":1118,"y":168,"wires":[[]]},{"id":"d6f8e21b.da0bf","type":"api-call-service","z":"7675e549.ad700c","name":"Turn Off Christmas Lights","server":"6c977fc6.7e008","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.christmas_lights\"}","mergecontext":"","x":1146,"y":415,"wires":[[]]},{"id":"735a7196.6e9fc","type":"api-call-service","z":"7675e549.ad700c","name":"Turn Off Christmas Tree","server":"6c977fc6.7e008","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.centralite_4257050rzhac_03bf4e3d_1\"}","mergecontext":"","x":1156,"y":670,"wires":[[]]},{"id":"320f8647.c9c21a","type":"api-call-service","z":"7675e549.ad700c","name":"Turn On Front Porch Lights","server":"5e5380a1.bfacc","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.front_porch_lights_switch\"}","mergecontext":"","x":1116,"y":115,"wires":[[]]},{"id":"1f2116be.d922c9","type":"api-call-service","z":"7675e549.ad700c","name":"Turn On Christmas Lights","server":"6c977fc6.7e008","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.christmas_lights\" }","mergecontext":"","x":1143,"y":358,"wires":[[]]},{"id":"88e5f6d8.ec2518","type":"api-call-service","z":"7675e549.ad700c","name":"Turn On Christmas Tree","server":"6c977fc6.7e008","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.centralite_4257050rzhac_03bf4e3d_1\" }","mergecontext":"","x":1153,"y":616,"wires":[[]]},{"id":"9ada4ba5.e2a6c8","type":"mqtt in","z":"5248ba9a.3658d4","name":"Big Red Button MQTT","topic":"stat/big_red_button/POWER","qos":"2","broker":"79106561.83a3b4","x":161,"y":124,"wires":[["e4845226.a92b2"]]},{"id":"e4845226.a92b2","type":"switch","z":"5248ba9a.3658d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":641,"y":115,"wires":[["ed78ed20.f9a11"],["4d36316.096bcd"]]},{"id":"4d36316.096bcd","type":"api-call-service","z":"5248ba9a.3658d4","name":"Bedroom Light 1 Off","server":"5e5380a1.bfacc","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.ledvance_br30_rgbw_0000c4d0_1\" }","mergecontext":"","x":972,"y":141,"wires":[[]]},{"id":"ed78ed20.f9a11","type":"api-call-service","z":"5248ba9a.3658d4","name":"Bedroom Light 1 On","server":"5e5380a1.bfacc","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.ledvance_br30_rgbw_0000c4d0_1\", \"brightness\": \"75\", \"color_name\": \"red\" }","mergecontext":"","x":974,"y":86,"wires":[[]]},{"id":"5a97ef18.387c4","type":"debug","z":"f13bb374.7e7cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1288.5,"y":297,"wires":[]}]